<%= render 'common/guest_summary' %>

<%= link_to 'Download Label', outer_labels_path(:format => :csv), :class => 'btn btn-success white-text' %>

<h1>Listing parties</h1>

<%= link_to 'New Party', new_party_path %>

<table class="table table-hover tablesorter table-responsive">
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>A/B List</th>
    <th>Estimated Size</th>
    <th>Save The Date Sent?</th>
    <th>RSVP?</th>
    <th>RSVP Party Size</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @parties.each do |party| %>
      <% email_missing = party.email.nil? %>
      <% address_missing = party.address.nil? %>
      <% row_class = '' %>

      <% if email_missing && address_missing %>
        <% row_class = 'danger' %>
      <% elsif email_missing %>
        <% row_class = 'warning' %>
      <% end %>

      <tr onclick="editParty(<%= party.id %>)" style="cursor: pointer" class="<%= row_class %>">
        <td>
          <i title="<%= email_missing ? 'Missing email. ' : ''%><%= address_missing ? 'Address incomplete.' : '' %>" 
            class="<%= party.email.nil? ? 'fa fa-warning' : '' %>"></i>
          <%= party.name %>
        </td>
        <td>
          <%= party.address %>
          <br>
          <%= party.city %>, <%= party.state %> <%= party.postal_code %>
          <br>
          <%= party.country %>
        </td>
        <td><%= party.a_b_list %></td>
        <td><%= party.guests.size %></td>
        <td><input id="save-the-date" type="checkbox" <%= party.save_the_date_sent ? 'checked' : '' %>/></td>
        <td><input id="rsvp" type="checkbox" <%= party.rsvp ? 'checked' : '' %>/></td>
        <td><%= party.size %></td>
        <td><a id="<%= party.id %>" class="show-party">Show</a></td>
        <td><%= link_to 'Destroy', party, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="selected-party" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
    $('#rsvp').click(function () {
        alert('clicked');
    });

    $('.edit-party').click(function () {
        var id = $(this).attr('id');
        editParty(id);
    });

    function editParty(id) {
        var url = '/parties/' + id + '/edit';

        $.get(url, function (data) {
            $('.modal-body').html('');
            $('.modal-body').html(data.match(/<form(\r|\n|.)+<\/form>/g));
            $('#selected-party').modal('show');
        });
    }

    $('.show-party').click(function () {
        var id = $(this).attr('id');
        var url = '/parties/' + id;

        $.get(url, function (data) {
            $('.modal-body').html('');
            $('.modal-body').html(data.match(/<h1>(\r|\n|.)+<\/ul>\n<\/p>/g));
            $('#selected-party').modal('show');
        });
    });
</script>
