<%= render 'common/guest_summary' %>

<h1>Listing parties</h1>

<%= link_to 'New Party', new_party_path %>

<table class="table table-hover tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email(s)</th>
    <th>Outer envelop</th>
    <th>Inner envelop</th>
    <th>A/B List</th>
    <th>RSVP?</th>
    <th>Save The Date Sent?</th>
    <th>Party Size</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @parties.each do |party| %>
      <tr>
        <td>
          <%= party.name %>
          <span class="badge"><%= party.guests.size %></span>
        </td>
        <td>
          <%= party.address %>
          <br>
          <%= party.city %>, <%= party.state %> <%= party.postal_code %>
          <br>
          <%= party.country %>
        </td>
        <td><%= party.email %></td>
        <td><%= party.outer_envelop %></td>
        <td><%= party.inner_envelop %></td>
        <td><%= party.a_b_list %></td>
        <td><input id="rsvp" type="checkbox" <%= party.rsvp ? 'checked' : '' %>/></td>
        <td><input id="rsvp" type="checkbox" <%= party.save_the_date_sent ? 'checked' : '' %>/></td>
        <td><%= party.size %></td>
        <td><%= link_to 'Show', party %></td>
        <td><%= link_to 'Edit', edit_party_path(party) %></td>
        <td><%= link_to 'Destroy', party, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $('#rsvp').click(function() {
      alert('clicked');
  });
</script>
