<p class='visible-xs visible-sm' id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'All Parties', parties_path %>

<h1>
  <%= @party.name %>
  <span class="badge"><%= @party.a_b_list %></span>
</h1>

<address>
  <strong>Address:</strong><br/>
  <%= @party.address %><br/>
  <%= @party.city %>, <%= @party.state %> <%= @party.postal_code %><br/>
  <%= @party.country %>
</address>

<address>
  <strong>Email Address(s):</strong>
  <%= @party.email %>
</address>

<p>
  <strong>Outer envelop:</strong>
  <%= @party.outer_envelop %>
</p>

<p>
  <strong>Inner envelop:</strong>
  <%= @party.inner_envelop %>
</p>

<p>
  <strong>Guests in Party:</strong>
  <ul>
    <% @party.guests.each do |guest| %>
        <li>
          <%= link_to "#{guest.first_name} #{guest.last_name}", guest_path(guest) %>
          <i class="fa <%= guest.gender == 'Female' ? 'fa-female' : 'fa-male' %>"></i>
          <i class="fa <%= guest.child ? 'fa-child' : '' %>"></i>
        </li>
    <% end %>
  </ul>
</p>

