<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body style="background-color: #eae5dd; font-family: Georgia, serif; padding: 1% 0 5% 0; color: #777777; font-size: 16px">

<div style="width: 80%; margin: 0 auto 5% auto; text-align: center; padding-bottom: 10px;">
  <a style="color: #BC936B; font-size: 70%; text-align: center; padding-bottom: 5%; width: 100%;" href="">
    Email not displaying correctly? View it in your browser.
  </a>

  <div style="padding: 5%; margin-bottom: 1%; text-align: center; font-weight: bold;
          text-transform: uppercase; color: #986b45; font-size: 200%; background-color: #ffffff">
    Save the Date
  </div>

  <div style="padding: 20px; background-color: #ffffff;">
    <div>
      <img style="width: 100%; margin-bottom: 5%" src="http://kazembe-brazelton-wedding.herokuapp.com/assets/ledges-86b6b055c2fab59aa968c83824904899.jpg" style="margin: auto; text-align: center;"/>
    </div>

    <div>
      <span style="color: #986b45; font-size: 14px;">For the marriage of</span><br>

      <div style="color: #986b45; font-weight: bold; font-size: 155%; padding: 1%;">
        Jessica Brazelton &amp; Frederick Kazembe
      </div>
      <br>
      <span style="text-transform: uppercase; font-size: 125%; font-weight: bold; color: #986b45;">June 6, 2015</span><br>
      <span style="text-transform: uppercase; font-size: 125%; font-weight: bold; color: #986b45;">Huntsville, Alabama USA</span><br><br>
      <span style="color: #986b45; font-size: 14px;">Formal Invitation to Follow</span>
    </div>

    <p>
      We would love to send you an invitation to our wedding.

      <% if @party.address.blank? %>
          However, we do not have your address. Please go to our website to send us your
          address.
      <% end %>
    </p>

    <% if @party.address.present? %>
        <p>
          This is the address that we have for you:
        </p>

        <p style="font-weight: bold">
          <%= @party.address %><br>
          <%= @party.city %>, <%= @party.state %> <%= @party.postal_code %><br>
          <%= @party.country %>
        </p>

        <p>
          If this is not the correct address please go to our website to update your address in our records.
        </p>
    <% end %>

    <a style="display: inline-block; margin-bottom: 0; font-weight: 400; text-align: center;
            background-image: none; color: #ffffff; background-color: #65503C;
            vertical-align: middle; cursor: pointer; border: 1px solid transparent;
            white-space: nowrap; padding: 6px 12px; font-size: 14px;
            text-decoration: none; line-height: 1.42857143; border-radius: 4px;"
            href="//www.jessica-and-fred.com/address_update?t=<%= @token %>" target="_blank">
      Update Address</a>

    <p>
      In the meantime, feel free to visit
      <a style="color: #BC936B;" href="http://www.jessica-and-fred.com" target="_blank">our website</a> for more
      information about accommodations, flights, and how we met and the wedding!
    </p>
  </div>

  <img width="100%" style="width: 100%;" src="//www.jessica-and-fred.com/assets/email_footer.png">
</div>

</body>

</html>