<%= form_for(@guest, html: {:class => 'form-horizontal', :role => 'form'}) do |f| %>
    <% if @guest.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

          <ul>
            <% @guest.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= select :guest, :title, title_options %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :first_name, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :last_name, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :suffix, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :suffix, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :gender, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= radio_button_tag('guest[gender]', 'Male', @guest.gender == 'Male') %>
        <%= label_tag(:male, 'Male') %>
        <%= radio_button_tag('guest[gender]', 'Female', @guest.gender == 'Female') %>
        <%= label_tag(:female, 'Female') %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :child, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.check_box :child %> Child?
      </div>
    </div>

    <div class="form-group">
      <%= f.label :party, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= select_tag 'guest[party_id]', options_for_select(party_options, @guest.party_id) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :group, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <% groups = [] %>
        <% GroupsGuests.where(guest_id: @guest.id).to_a.each {|g| groups << g.group_id } %>
        <%= check_box_tag 'guest[group][1]', 1, groups.include?(1) %>
        <%= label_tag 'guest[group][1]', "Bride's Family" %><br>
        <%= check_box_tag 'guest[group][2]', 2, groups.include?(2) %>
        <%= label_tag 'guest[group][2]', "Bride's Friends" %><br>
        <%= check_box_tag 'guest[group][3]', 3, groups.include?(3) %>
        <%= label_tag 'guest[group][3]', "Groom's Family" %><br>
        <%= check_box_tag 'guest[group][4]', 4, groups.include?(4) %>
        <%= label_tag 'guest[group][4]', "Groom's Friends" %><br>
        <%= check_box_tag 'guest[group][5]', 5, groups.include?(5) %>
        <%= label_tag 'guest[group][5]', 'Bridal Party' %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= link_to 'Remove Guest', @guest, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
    </div>
<% end %>
