<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'All Guests', guests_path %>

<h1><%= @guest.first_name %> <%= @guest.last_name %></h1>
<p><%= @guest.gender %></p>

<p>
  <strong>Address:</strong><br/>
  <%= @guest.party.address %><br/>
  <%= @guest.party.city %>, <%= @guest.party.state %> <%= @guest.party.postal_code %><br/>
  <%= @guest.party.country %>
</p>

<p>
  <strong>Party:</strong> <%= link_to "#{@guest.party.name}", party_path(@guest.party) %>
</p>

