<p id="notice"><%= notice %></p>

<p>
  <%= @guest.first_name %> <%= @guest.last_name %><br/>
</p>

<p>
  <strong>Address:</strong><br/>
  <%= @guest.party.address %><br/>
  <%= @guest.party.city %>, <%= @guest.party.state %> <%= @guest.party.postal_code %><br/>
  <%= @guest.party.country %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
