<div class="bridesmaids">
  <div class="header">
    <span class="left"><%= image_tag 'bridesmaids-icon.png' %></span>
    <span class="center"><%= image_tag 'bridesmaids-icon.png' %></span>
    <span class="right"><%= image_tag 'bridesmaids-icon.png' %></span>
    <hr style="float: left;">
    <hr style="float: right;">
  </div>

  <h1>Bridesmaids</h1>

  <ul>
    <li>
      <%= image_tag 'wedding_party/keica.jpeg', title: 'Maryan Brazelton' %>
      <div class="name">
        Maryan Brazelton<br>
        <strong>Maid of Honor</strong>
      </div>
      <div class="clear"></div>
    </li>
    <li>
      <%= image_tag 'wedding_party/coco.jpeg', title: 'Shicociya Townsend' %>
      <div class="name">
        Shicociya Townsend<br>
        <strong>Maid of Honor</strong>
      </div>
      <div class="clear"></div>
    </li>
    <li>
      <%= image_tag 'wedding_party/chanda.jpg', title: 'Mei-Chanda Stewart' %>
      <div class="name">
        Mei-Chanda Stewart<br>
        <strong>Bridesmaid</strong>
      </div>
      <div class="clear"></div>
    </li>
    <li>
      <%= image_tag 'wedding_party/quana.jpg', title: 'LaQuana McCall'  %>
      <div class="name">
        LaQuana McCall<br>
        <strong>Bridesmaid</strong>
      </div>
      <div class="clear"></div>
    </li>
  </ul>
</div>
