<div class="groomsmen">
    <div class="header">
        <span class="left"><%= image_tag 'groomsmen-icon.png' %></span>
        <span class="center"><%= image_tag 'groomsmen-icon.png' %></span>
        <span class="right"><%= image_tag 'groomsmen-icon.png' %></span>
        <hr style="float: left;">
        <hr style="float: right;">
    </div>

    <h1>Groomsmen</h1>

    <ul>
        <li>
            <%= image_tag 'wedding_party/joe.jpg', title: 'Joseph Lumba' %>
            <div class="name">
                Joseph Lumba<br>
                <strong>Best Man</strong>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <%= image_tag 'wedding_party/nenji.jpg', title: 'Nenji Maimbi' %>
            <div class="name">
                Nenji Maimbi<br>
                <strong>Groomsman</strong>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <%= image_tag 'wedding_party/mukupa.jpg', title: 'Mukupa Sinizya' %>
            <div class="name">
                Mukupa Sinizya<br>
                <strong>Groomsman</strong>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <%= image_tag 'wedding_party/silas.jpg', title: 'Silas Kazadi' %>
            <div class="name">
                Silas Kazadi<br>
                <strong>Groomsman</strong>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
