<p class='visible-xs visible-sm' id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'All Groups', groups_path %>

<h1>
  <%= @group.name %>
  <span class="label label-primary"><%= GroupsGuests.where(group_id: @group.id).count %></span>
</h1>

<p>
  <ul>
    <% Guest.joins(:party).joins(:group).where('groups.id = ?', @group.id).each do |guest| %>
        <li><%= guest.first_name %> <%= guest.last_name %></li>
    <% end %>
  </ul>
</p>

