<p class='visible-xs visible-sm' id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'All Groups', groups_path %>

<h1>
  <%= @group.name %>
  <span class="label label-primary"><%= GroupsGuests.where(group_id: @group.id).count %></span>
</h1>

<p>
  <table class="table tablesorter">
    <thead>
        <tr>
          <th>Name</th>
          <th>A/B List</th>
          <th>Save the Date?</th>
          <th>RSVP?</th>
        </tr>
    </thead>

    <tbody>
    <% Guest.joins(:party).joins(:group).where('groups.id = ?', @group.id).each do |guest| %>
        <tr>
          <td><%= guest.first_name %> <%= guest.last_name %><%= guest.suffix.present? ? ", #{guest.suffix}" : '' %></td>
          <td><%= guest.party.a_b_list %></td>
          <td><%= guest.party.save_the_date_sent ? 'yes' : 'no' %></td>
          <td><%= guest.party.rsvp ? 'yes' : 'no' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</p>

