<p class='visible-xs visible-sm' id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'All Groups', groups_path %>

<h1>
  <%= @group.name %>
  <span class="label label-primary"><%= GroupsGuests.where(group_id: @group.id).count %></span>
</h1>

<br>
<div>
  <!-- TODO fix number attending query -->
  <!--<p>-->
    <!--<strong>Number Attending: </strong>-->

    <!--<% if @group.id == 6 %>-->
        <!--<%= Party.joins(guests: :group).where("'groups'.id = 6").sum(:size_brunch) %>-->
    <!--<% elsif @group.id == 5 %>-->
        <!--<%= Party.joins(guests: :group).where("'groups'.id = 5").sum(:size_rehearsal) %>-->
    <!--<% else %>-->
        <!--<%= Party.joins(guests: :group).where('groups.id = ?', @group.id).uniq.sum(:size) %>-->
    <!--<% end %>-->
  <!--</p>-->

  <table class="table table-bordered table-responsive">
    <thead>
    <tr>
      <th></th>
      <th>Guests</th>
      <th><i class="fa fa-envelope"></i> Invitations</th>
      <th><i class="fa fa-male"></i> Men</th>
      <th><i class="fa fa-female"></i> Women</th>
      <th><i class="fa fa-male fa-child"></i> Children</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>A Group</th>
      <%= group_data 'A', @group.id %>
    </tr>

    <tr>
      <th>B Group</th>
      <%= group_data 'B', @group.id %>
    </tr>
    </tbody>

    <thead>
    <tr>
      <th>Total</th>
      <th><%= Guest.joins(:group).where('group_id = ?', @group.id).all.count %></th>
      <th><%= Party.joins(guests: :group).where('group_id = ?', @group.id).uniq(:party).count %></th>
      <th><%= Guest.joins(:group).where(gender: 'Male', child: false).where('group_id = ?', @group.id).count %></th>
      <th><%= Guest.joins(:group).where(gender: 'Female', child: false).where('group_id = ?', @group.id).count %></th>
      <th><%= Guest.joins(:group).where(child: true).where('group_id = ?', @group.id).count %></th>
    </tr>
    </thead>

  </table>
</div>
<br>

<p>
<table class="table tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>A/B List</th>

    <% if @group.name == 'Rehearsal Dinner' || @group.name == 'Sunday Brunch' %>
        <th>Attending?</th>
    <% else %>
        <th>RSVP?</th>
    <% end %>

    <th>RSVP Size</th>
  </tr>
  </thead>

  <tbody>
  <% Party.joins(guests: :group).where('groups.id = ?', @group.id).uniq.each do |party| %>
      <tr>
        <td><%= party.name %></td>
        <td><%= party.a_b_list %></td>

        <% if @group.name == 'Rehearsal Dinner' %>
            <td><%= party.rsvp_dinner ? 'yes' : 'no' %></td>
        <% elsif @group.name == 'Sunday Brunch' %>
            <td><%= party.rsvp_brunch ? 'yes' : 'no' %></td>
        <% else %>
            <td><%= party.rsvp ? 'yes' : 'no' %></td>
        <% end %>

        <td>
        <% if @group.name == 'Rehearsal Dinner' %>
            <%= party.size_rehearsal %>
        <% elsif @group.name == 'Sunday Brunch' %>
            <%= party.size_brunch %>
        <% else %>
            <%= party.size %>
        <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

