<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Save the Date!</h1>

<p>
  We would love to send you an invitation to our wedding.

  <% if @user.party.address.blank? %>
    However, we do not have your address. Please go to this link to update your address.
  <% end %>
</p>

<% if @user.party.address.present? %>
<p>
    This is the address that we have for you:
</p>

<p>
  <%= @user.party.address %><br>
  <%= @user.party.city %>, <%= @user.party.state %> <%= @user.party.postal_code %><br>
  <%= @user.party.country %>
</p>
<% end %>

<p>
  Feel free to visit our website for more information about how we met and the wedding!
</p>

</body>
</html>