<div class="groomsmen">
  <div class="header">
    <span class="left"><%= image_tag 'groomsmen-icon.png' %></span>
    <span class="center"><%= image_tag 'groomsmen-icon.png' %></span>
    <span class="right"><%= image_tag 'groomsmen-icon.png' %></span>
    <hr style="float: left;">
    <hr style="float: right;">
  </div>

  <h1>Groomsmen</h1>

  <ul>
    <li>
      <%= image_tag 'wedding_party/drew.jpg', title: 'Andrew Chisela' %>
      <div class="name">
        Andrew Chisela<br>
        <strong>Best Man</strong>
      </div>
      <div class="clear"></div>
    </li>
    <li>
      <%= image_tag 'wedding_party/tony.jpg', title: 'Tony Kazembe' %>
      <div class="name">
        Tony Kazembe<br>
        <strong>Groomsman</strong>
      </div>
      <div class="clear"></div>
    </li>
    <li>
      <%= image_tag 'wedding_party/augustine.jpg', title: 'Augustine Frempong' %>
      <div class="name">
        Augustine Frempong<br>
        <strong>Groomsman</strong>
      </div>
      <div class="clear"></div>
    </li>
    <li>
      <%= image_tag 'wedding_party/chi.jpg', title: 'Chimuka Makomo' %>
      <div class="name">
        Chimuka Makomo<br>
        <strong>Groomsman</strong>
      </div>
      <div class="clear"></div>
    </li>
    <li>
      <%= image_tag 'wedding_party/helmut.jpg', title: 'Helmut Nyembo' %>
      <div class="name">
        Helmut Nyembo<br>
        <strong>Groomsman</strong>
      </div>
      <div class="clear"></div>
    </li>
    <li>
      <%= image_tag 'wedding_party/charles.jpg', title: 'Charles Matipa' %>
      <div class="name">
        Charles Matipa<br>
        <strong>Groomsman</strong>
      </div>
      <div class="clear"></div>
    </li>
  </ul>
</div>