<div class="info-box">
  <header>Guest Information</header>

  <section>

    <div class="panel-group" id="accordion">
      <%= render 'venue_info' %>
      <%= render 'travel_info' %>
      <%= render 'accommodation_info' %>
    </div>
  </section>

  <%= render 'footer' %>
</div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY2XQZrv_P3zdKzGX6GD0GnqnYANCI490">
</script>
<%= javascript_include_tag 'map_of_venues' %>

<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', initialize);
    $('.collapse').collapse({
        parent: true
    });

    function toggleCollapse(panel) {
        if($(panel).attr('class').contains('in')) {

        } else {
        }
    }

    $('.collapse').on('show.bs.collapse', function () {
        toggleCollapse($('#travel'));
        toggleCollapse($('#accommodation'));
        toggleCollapse($('#locations'));
    })
</script>
