<div class="info-box">
  <header>Guest Information</header>

  <section class="row">

    <div class="col-sm-3 hidden-xs" id="myScrollspy">
      <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
        <li><a href="#venue">Venues</a></li>
        <li><a href="#locations">Travel</a></li>
        <li><a href="#accommodation">Accommodation</a></li>
      </ul>
    </div>

    <div class="col-sm-9">
      <div class="panel-group" id="accordion">
        <%= render 'home/guest_info/venue_info' %>
        <%= render 'home/guest_info/travel_info' %>
        <%= render 'home/guest_info/accommodation_info' %>
      </div>
    </div>
  </section>


  <%= render 'footer' %>
</div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY'] %>">
</script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>

<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
