<div class="info-box">
  <header>Guest Information</header>

  <section class="row">

    <div class="col-md-3 hidden-xs" id="myScrollspy">
      <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
        <li><a href="#venue">Venues</a></li>
        <li><a href="#locations">Travel</a></li>
        <li><a href="#accommodation">Accommodation</a></li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="panel-group" id="accordion">
        <%= render 'venue_info' %>
        <%= render 'travel_info' %>
        <%= render 'accommodation_info' %>
      </div>
    </div>
  </section>


  <%= render 'footer' %>
</div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY2XQZrv_P3zdKzGX6GD0GnqnYANCI490">
</script>
<%= javascript_include_tag 'map_of_venues' %>

<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', initialize);

    function toggleCollapse(panel) {
        if ($(panel).attr('class').contains('in')) {

        } else {
        }
    }
</script>
