<div class="info-box">
  <header>Our Story</header>

  <section class="our-story">
    <div class="vertical-line"></div>

    <span class="heart-divider">&hearts;</span>
    <%= render 'home/our_story/fred' %>

    <span class="heart-divider">&hearts;</span>
    <%= render 'home/our_story/jessica' %>

    <span class="heart-divider">&hearts;</span>
    <%= render 'home/our_story/meeting' %>

    <span class="heart-divider">&hearts;</span>
    <%= render 'home/our_story/engagement' %>

  </section>

  <%= render 'footer' %>
</div>
