<div class="info-box">
  <header>Our Story</header>

  <section class="our-story">
    <div class="vertical-line"></div>

    <span class="heart-divider left">&hearts; <span class="title">Frederick Kazembe</span></span>
    <%= render 'home/our_story/fred' %>

    <span class="heart-divider right"><span class="title">Jessica Lynn Brazelton</span> &hearts;</span>
    <%= render 'home/our_story/jessica' %>

    <span class="heart-divider left">&hearts; <span class="title">How We Met</span></span>
    <%= render 'home/our_story/meeting' %>

    <span class="heart-divider right"><span class="title">The Engagement</span> &hearts;</span>
    <%= render 'home/our_story/engagement' %>

  </section>

  <%= render 'footer' %>
</div>
