<div class="info-box rsvp">
  <header>Update Address</header>

  <section>
    Please update your address so that we can send you an invitation.
  </section>

  <%= form_tag("/update_party", method: "get", :class => 'form-horizontal', :role => 'form') do |f| %>
      <% if @party.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

            <ul>
              <% @party.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= hidden_field_tag :id, @party.id %>

      <div class="form-group">
        <%= label_tag :address, 'Address', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= text_field_tag :address, @party.address, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :city, 'City', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= text_field_tag :city, @party.city, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :state, 'State', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= text_field_tag :state, @party.state, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :postal_code, 'Postal Code', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= text_field_tag :postal_code, @party.postal_code, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :country, 'Country', :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= text_field_tag :country, @party.country, :class => 'form-control' %>
        </div>
      </div>

      <div class="actions">
        <%= submit_tag 'Update', :class => 'btn btn-primary' %>
      </div>
  <% end %>
</div>
