<div class="info-box">
  <header>Wedding Party</header>

  <section>
    <div class="bridesmaids">
      <div class="header">
        <span class="left"><%= image_tag 'bridesmaids-icon.png' %></span>
        <span class="center"><%= image_tag 'bridesmaids-icon.png' %></span>
        <span class="right"><%= image_tag 'bridesmaids-icon.png' %></span>
        <hr style="float: left;">
        <hr style="float: right;">
      </div>

      <h1>Bridesmaids</h1>

      <ul>
        <li>
          <%= image_tag 'coco.jpg' %>
          <div class="name">
            Shicociya Townsend<br>
            <strong>Maid of Honor</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'keica.jpg' %>
          <div class="name">
            Maryan Brazelton<br>
            <strong>Bridesmaid</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'chanda.jpg' %>
          <div class="name">
            Mei-Chanda Stewart<br>
            <strong>Bridesmaid</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'quana.jpg' %>
          <div class="name">
            LaQuana McCall<br>
            <strong>Bridesmaid</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'annie.jpg' %>
          <div class="name">
            Annie Kazembe Kapinda<br>
            <strong>Bridesmaid</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'brenda.jpg' %>
          <div class="name">
            Brenda Kazembe<br>
            <strong>Bridesmaid</strong>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
    </div>

    <div class="groomsmen">
      <div class="header">
        <span class="left"><%= image_tag 'groomsmen-icon.png' %></span>
        <span class="center"><%= image_tag 'groomsmen-icon.png' %></span>
        <span class="right"><%= image_tag 'groomsmen-icon.png' %></span>
        <hr style="float: left;">
        <hr style="float: right;">
      </div>

      <h1>Groomsmen</h1>

      <ul>
        <li>
          <%= image_tag 'coco.jpg' %>
          <div class="name">
            Andrew Chisela<br>
            <strong>Best Man</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'coco.jpg' %>
          <div class="name">
            Tony Kazembe<br>
            <strong>Groomsman</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'coco.jpg' %>
          <div class="name">
            Augustine Frempong<br>
            <strong>Groomsman</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'coco.jpg' %>
          <div class="name">
            Chimuka Makomo<br>
            <strong>Groomsman</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'coco.jpg' %>
          <div class="name">
            Name<br>
            <strong>Groomsman</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'coco.jpg' %>
          <div class="name">
            Name<br>
            <strong>Groomsman</strong>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
    </div>

    <div style="clear: both;"></div>
  </section>

  <%= render 'footer' %>
</div>
