<div class="info-box">
  <header>Wedding Party</header>

  <section>
    <div class="bridesmaids">
      <div class="header">
        <span class="left"><%= image_tag 'bridesmaids-icon.png' %></span>
        <span class="center"><%= image_tag 'bridesmaids-icon.png' %></span>
        <span class="right"><%= image_tag 'bridesmaids-icon.png' %></span>
        <hr style="float: left;">
        <hr style="float: right;">
      </div>

      <h1>Bridesmaids</h1>

      <ul>
        <li>
          <%= image_tag 'coco.jpg', alt: 'Shicociya Townsend' %>
          <div class="name">
            Shicociya Townsend<br>
            <strong>Maid of Honor</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'keica.jpg', alt: 'Maryan Brazelton' %>
          <div class="name">
            Maryan Brazelton<br>
            <strong>Bridesmaid</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'chanda.jpg', alt: 'Mei-Chanda Stewart' %>
          <div class="name">
            Mei-Chanda Stewart<br>
            <strong>Bridesmaid</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'quana.jpg', alt: 'LaQuana McCall'  %>
          <div class="name">
            LaQuana McCall<br>
            <strong>Bridesmaid</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'annie.jpg', alt: 'Annie Kazembe Kapinda'  %>
          <div class="name">
            Annie Kazembe Kapinda<br>
            <strong>Bridesmaid</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'brenda.jpg', alt: 'Brenda Kazembe'  %>
          <div class="name">
            Brenda Kazembe<br>
            <strong>Bridesmaid</strong>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
    </div>

    <div class="groomsmen">
      <div class="header">
        <span class="left"><%= image_tag 'groomsmen-icon.png' %></span>
        <span class="center"><%= image_tag 'groomsmen-icon.png' %></span>
        <span class="right"><%= image_tag 'groomsmen-icon.png' %></span>
        <hr style="float: left;">
        <hr style="float: right;">
      </div>

      <h1>Groomsmen</h1>

      <ul>
        <li>
          <%= image_tag 'drew.jpg', alt: 'Andrew Chisela' %>
          <div class="name">
            Andrew Chisela<br>
            <strong>Best Man</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'tony.JPG', alt: 'Tony Kazembe' %>
          <div class="name">
            Tony Kazembe<br>
            <strong>Groomsman</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'augustine.jpg', alt: 'Augustine Frempong' %>
          <div class="name">
            Augustine Frempong<br>
            <strong>Groomsman</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'chi.jpg', alt: 'Chimuka Makomo' %>
          <div class="name">
            Chimuka Makomo<br>
            <strong>Groomsman</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'helmut.jpg', alt: 'Helmut Nyembo' %>
          <div class="name">
            Helmut Nyembo<br>
            <strong>Groomsman</strong>
          </div>
          <div class="clear"></div>
        </li>
        <li>
          <%= image_tag 'charles.jpg', alt: 'Charles Matipa' %>
          <div class="name">
            Charles Matipa<br>
            <strong>Groomsman</strong>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
    </div>

    <div style="clear: both;"></div>
  </section>

  <%= render 'footer' %>
</div>
