<div class="info-box rsvp">
  <header>RSVP</header>

  <section>
    <% if notice %>
        <div class="alert alert-danger" role="alert"><%= notice %></div>
    <% end %>
    Use the identification code given in your invitation to RSVP.
  </section>

  <%= form_tag('rsvp/search', method: 'get', :class => 'form-horizontal', :role => 'form') do %>
      <div class="form-group">
        <%= label_tag :id_code, 'Identification Code', :class => 'control-label col-sm-5' %>
        <div class="col-sm-6">
          <%= text_field_tag :id_code, '', :class => 'form-control all-caps', :placeholder => 'e.g. A4RTC9', :required => :required, :autocomplete => 'off' %>
        </div>
      </div>

      <div id="party-size" class="form-group">
        <%= label_tag :party, 'Total in your party?', :class => 'control-label col-sm-5' %>
        <div class="col-sm-3">
          <%= text_field_tag :party, '', :class => 'form-control', :required => :required, :type => 'number', :min => 1 %>
        </div>
      </div>

      <div id='details' style='display:none'>
        <h3 id='preferences'>Meal Preferences</h3>

        <div class="form-group meal-preference" style="display: none">
          <%= label_tag :meal, 'Meal Preference', :class => 'meal control-label col-sm-5' %>
          <div class="col-sm-6">
            <%= select_tag :meal, options_for_select(["Chicken", "Beef"], ''), :include_blank => true, :class => 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :attending, 'Are you attending?', :class => 'control-label col-sm-5' %>
        <div style="float: left; margin-left: 20px">
          <label class="radio-inline">
            <input type="radio" name="response" id="yes" required="required" value='1'> Yes
          </label>
          <label class="radio-inline">
            <input type="radio" name="response" id="no" value='0'> No
          </label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">RSVP</button>
  <% end %>

  <%= render 'home/footer' %>
</div>

<script>
    $(function () {

        $('#party').change(function () {
            if ($('input#id_code').val()) {
                $('#details').show();
                guest_meal_preferences(Number($(this).val()));
            }
        });

        function guest_meal_preferences(num) {
            var $mealDiv = $('.meal-preference');
            var div = $mealDiv.first().clone();
            var $partyDiv = $('#preferences');
            var idCode = $('#id_code').val();

            $.get('/party_guests/' + idCode, function (data) {
                var guests = data.guests;

                if (guests) {
                    $('input#id_code').parent().parent().attr('class', 'form-group');
                    $mealDiv.remove();

                    for (var i = num - 1; i >= 0; i--) {
                        var newDiv = div.clone();

                        if (guests[i]) {
                            var guest = guests[i];
                            newDiv.find('select').attr('name', 'meal[' + i + ']');
                            newDiv.find('select').attr('required', 'required');
                            newDiv.find('label').html(guest.first_name + ' ' + guest.last_name);
                            newDiv.insertAfter($partyDiv);
                            newDiv.show();
                        } else {
                            newDiv.find('select').attr('name', 'meal[' + i + ']');
                            newDiv.find('select').attr('required', 'required');
                            newDiv.find('label').html('Guest ' + (i + 1));
                            newDiv.insertAfter($partyDiv);
                            newDiv.show();
                        }
                    }
                } else {
                    $('input#id_code').parent().parent().attr('class', 'form-group has-error');
                    $('#details').hide();
                }
            }).fail(function () {
                $('input#id_code').parent().parent().attr('class', 'form-group has-error');
                $('#details').hide();
            });
        }

        $("input[type='radio']").click(function () {
            if ($(this).attr('id') == 'no') {
                $('#party').removeAttr('required');
                $('.meal').removeAttr('required');
                $('#details').hide();
            } else {
                $('#party').attr('required', 'required');
                $('.meal').attr('required', 'required');
                var idCodeClasses = $('input#id_code').parent().parent().attr('class');

                if ($('#party').val() && !idCodeClasses.contains('has-error')) {
                    $('#details').show();
                }
            }
        });
    });
</script>
