<div class="info-box rsvp">
  <header>RSVP</header>

  <section>
    <% if notice %>
        <div class="alert alert-danger" role="alert"><%= notice %></div>
    <% end %>
    Use the identification code given in your invitation to RSVP.
  </section>

  <%= form_tag('rsvp/search', method: 'get', :class => 'form-horizontal', :role => 'form') do %>
      <div class="form-group">
        <%= label_tag :id_code, 'Identification Code', :class => 'control-label col-sm-5' %>
        <div class="col-sm-6">
          <%= text_field_tag :id_code, '', :class => 'form-control all-caps', :placeholder => 'e.g. A4RTC9', :required => :required, :autocomplete => 'off' %>
        </div>
      </div>

      <div id="party-size" class="form-group">
        <%= label_tag :party, 'Total in your party?', :class => 'control-label col-sm-5' %>
        <div class="col-sm-3">
          <%= text_field_tag :party, '', :class => 'form-control', :required => :required, :type => 'number', :min => 1 %>
        </div>
      </div>

      <div class="form-group meal-preference" style="display: none">
        <%= label_tag :meal, 'Meal Preference', :class => 'control-label col-sm-5' %>
        <div class="col-sm-6">
          <%= select_tag :meal, options_for_select(["Chicken", "Beef"], ''), :include_blank => true, :required => :required, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :attending, 'Are you attending?', :class => 'control-label col-sm-5' %>
        <div style="float: left; margin-left: 20px">
          <label class="radio-inline">
            <input type="radio" name="response" id="yes" required="required" value='1'> Yes
          </label>
          <label class="radio-inline">
            <input type="radio" name="response" id="no" value='0'> No
          </label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">RSVP</button>
  <% end %>

  <%= render 'home/footer' %>
</div>

<script>
    $(function () {
        $('#party').change(function () {
            var $mealDiv = $('.meal-preference');
            var div = $mealDiv.first().clone();
            var parent = $mealDiv.parent();
            var num = Number($(this).val());
            var $partyDiv = $('#party-size');

            $mealDiv.remove();

            for(var i = num; i > 0; i--) {
                var newDiv = div.clone();
                newDiv.find('label').html('Meal Preference for Guest ' + i);
                newDiv.insertAfter($partyDiv);
                newDiv.show();
            }
        });

        $("input[type='radio']").click(function () {
            if ($(this).attr('id') == 'no') {
                $('#party').removeAttr('required');
            } else {
                $('#party').attr('required', 'required');
            }
        });
    });
</script>
