<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>

<div>
  <strong><%= @party.name %> <%= @party.rsvp ? 'is Attending!' : 'is not Attending' %></strong><br><br>

  <strong>Party Size:</strong> <%= @party.size %>
  <br><br>

  <strong>Meal Options:</strong>

  <ul>
    <% idx = 1 %>
    <% @party.guests.each do |g| %>
        <li><%= "#{g.first_name} #{g.last_name}" %>: <%= g.meal_option %></li>
        <% idx = idx + 1 %>
    <% end %>
  </ul>
</div>

</body>
