<p id="notice"><%= notice %></p>

<% a_list = Guest.where(a_b_list: 'A') %>
<% b_list = Guest.where(a_b_list: 'B') %>

<p>
  <strong>A Group:</strong> <%= a_list.count %> |
  <strong>B Group:</strong> <%= b_list.count %>
</p>

<p>
  <strong>Bride's Family:</strong> <%= GroupsGuests.where(group_id: 1).count %> |
  <strong>Bride's Friends:</strong> <%= GroupsGuests.where(group_id: 2).count %> |
  <strong>Groom's Family:</strong> <%= GroupsGuests.where(group_id: 3).count %> |
  <strong>Groom's Friends:</strong> <%= GroupsGuests.where(group_id: 4).count %> |
  <strong>Bridal Party:</strong> <%= GroupsGuests.where(group_id: 5).count %>
</p>

<div>
  <%= link_to 'Send Save the Date Email to A List', save_the_date_path, :class => 'btn btn-success' %>
  <%= link_to 'Send Save the Date Email to B List', save_the_date_path, :class => 'btn btn-info' %>
</div>