<p id="notice"><%= notice %></p>

<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th></th>
    <th>Guests</th>
    <th>Invitations</th>
    <th>Men</th>
    <th>Women</th>
    <th>Children</th>
    <th>Bride's Family</th>
    <th>Bride's Friends</th>
    <th>Groom's Family</th>
    <th>Groom's Friends</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <% a_group = Guest.joins(:party).where("parties.a_b_list = 'A'") %>
    <th>A Group</th>
    <td><%= a_group.count %></td>
    <td><%= Party.where(a_b_list: 'A').count %></td>
    <td><%= Guest.joins(:party).where(gender: 'Male', child: false).where("parties.a_b_list = 'A'").count %></td>
    <td><%= Guest.joins(:party).where(gender: 'Female', child: false).where("parties.a_b_list = 'A'").count %></td>
    <td><%= Guest.joins(:party).where(child: true).where("parties.a_b_list = 'A'").count %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <th>B Group</th>
    <td><%= Guest.joins(:party).where("parties.a_b_list = 'B'").count %></td>
    <td><%= Party.where(a_b_list: 'B').count %></td>
    <td><%= Guest.joins(:party).where(gender: 'Male', child: false).where("parties.a_b_list = 'B'").count %></td>
    <td><%= Guest.joins(:party).where(gender: 'Female', child: false).where("parties.a_b_list = 'B'").count %></td>
    <td><%= Guest.joins(:party).where(child: true).where("parties.a_b_list = 'B'").count %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>

  <thead>
  <tr>
    <th>Total</th>
    <th><%= Guest.all.count %></th>
    <th><%= Party.all.count %></th>
    <th><%= Guest.where(gender: 'Male', child: false).count %></th>
    <th><%= Guest.where(gender: 'Female', child: false).count %></th>
    <th><%= Guest.where(child: true).count %></th>
    <th><%= GroupsGuests.where(group_id: 1).count %></th>
    <th><%= GroupsGuests.where(group_id: 2).count %></th>
    <th><%= GroupsGuests.where(group_id: 3).count %></th>
    <th><%= GroupsGuests.where(group_id: 4).count %></th>
  </tr>
  </thead>

</table>

<p>
  <strong>Bride's Family:</strong> <%= GroupsGuests.where(group_id: 1).count %> |
  <strong>Bride's Friends:</strong> <%= GroupsGuests.where(group_id: 2).count %> |
  <strong>Groom's Family:</strong> <%= GroupsGuests.where(group_id: 3).count %> |
  <strong>Groom's Friends:</strong> <%= GroupsGuests.where(group_id: 4).count %> |
  <strong>Bridal Party:</strong> <%= GroupsGuests.where(group_id: 5).count %>
</p>

<p>
  <strong>RSVP:</strong> <%= Party.where(rsvp: true).sum(:size) %>
</p>