<p id="notice"><%= notice %></p>

<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th></th>
    <th>Guests</th>
    <th>Invitations</th>
    <th>Men</th>
    <th>Women</th>
    <th>Children</th>
    <th>Bride's Family</th>
    <th>Bride's Friends</th>
    <th>Groom's Family</th>
    <th>Groom's Friends</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th>A Group</th>
    <%= group_data 'A' %>
  </tr>

  <tr>
    <th>B Group</th>
    <%= group_data 'B' %>
  </tr>
  </tbody>

  <thead>
  <tr>
    <th>Total</th>
    <th><%= Guest.all.count %></th>
    <th><%= Party.all.count %></th>
    <th><%= Guest.where(gender: 'Male', child: false).count %></th>
    <th><%= Guest.where(gender: 'Female', child: false).count %></th>
    <th><%= Guest.where(child: true).count %></th>
    <th><%= GroupsGuests.where(group_id: 1).count %></th>
    <th><%= GroupsGuests.where(group_id: 2).count %></th>
    <th><%= GroupsGuests.where(group_id: 3).count %></th>
    <th><%= GroupsGuests.where(group_id: 4).count %></th>
  </tr>
  </thead>

</table>

<p>
  <strong>Attending:</strong> <%= Party.where(rsvp: true).sum(:size) %> |
  <strong>Not Attending:</strong> <%= Party.where(rsvp: false).sum(:size) %>
</p>

<p>
  <strong>Missing Email Addresses:</strong> <%= Party.where('email IS NULL OR email = ""').count %> |
  <strong>Missing Addresses:</strong> <%= Party.where("address IS NULL OR address = ''").count %>
</p>