<!DOCTYPE html>
<html>
<head>
  <title>Jessica &hearts; Fred</title>
  <%= javascript_include_tag 'jquery' %>
  <%= stylesheet_link_tag 'table-sorter-style' %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'layouts/header' %>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<% controller = self.controller.class.name %>
<div class="container admin-container">
  <%= render 'layouts/alerts' %>

  <div style="margin-bottom: 20px;">
    <%= label_tag 'Save The Date Emails: ' %>
    <%= link_to 'International List', save_the_date_special_path, :class => 'btn btn-info save-the-date' %>
    <%= link_to 'A List', save_the_date_a_path, :class => 'btn btn-success save-the-date' %>
    <%= link_to 'B List', save_the_date_b_path, :class => 'btn btn-info save-the-date' %>
  </div>

  <div class="wrapper">
    <ul class="nav nav-tabs" role="tablist">
      <li class="<%= controller.include?('Guest') ? 'active' : '' %>"><%= link_to 'Guests', guests_path %></li>
      <li class="<%= controller.include?('Part') ? 'active' : '' %>"><%= link_to 'Parties', parties_path %></li>
      <li class="<%= controller.include?('Group') ? 'active' : '' %>"><%= link_to 'Groups', groups_path %></li>
    </ul>

    <%= yield %>
  </div>
</div>

<%= javascript_include_tag 'jquery.tablesorter' %>
<%= javascript_include_tag 'bootstrap.min' %>
<%= javascript_include_tag 'jquery.tablesorter' %>
<%= javascript_include_tag 'google_analytics' %>

<script>
    $(function () {
        $('.save-the-date').click(function () {
            var button = this;
            $(this).html('Sending Email Please Wait...');
            setInterval(function () {
                button.style.color = (button.style.color == 'transparent' ? 'white' : 'transparent');
            }, 500);
        });

        $(".table").tablesorter({sortList: [
            [0, 0],
            [1, 0]
        ]});
    });
</script>

</body>
</html>
