<!DOCTYPE html>
<html>
<head>
  <title>Jessica &hearts; Fred</title>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="home-page" onload="countdown(year,month,day,hour,minute)">

<%= render 'layouts/header' %>

<div class="container">
    <%= render 'layouts/alerts' %>
    <%= yield %>
</div>

<%= javascript_include_tag 'bootstrap.min' %>
<%= javascript_include_tag 'google_analytics' %>
<%= javascript_include_tag 'home.js' %>
</body>
</html>
