<!DOCTYPE html>
<html>
<head>
  <title>Jessica &hearts; Fred</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'lavish-bootstrap' %>
  <%= stylesheet_link_tag 'home' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: none;">

<div class="container">
    <%= yield %>
</div>

</body>
</html>
